<label>Meu time : {{ ['VERMELHO', 'AZUL', 'ACABOU'][time] }}</label>  
<label>Time atual : {{ ['VERMELHO', 'AZUL', 'ACABOU'][timeJogando] }}</label>

<div id="containerPalavras">
    <div id="palavras">
        <div class="palavra" *ngFor="let palavra of jogo?.palavras" [ngClass]="palavra.tipo.toString()" (click)="selecionaPalavra(palavra)">
            {{palavra.texto.toUpperCase()}}
        </div>
    </div>
</div>

<div *ngIf="tipoJogador == 'ESPIAO' && !jaEnviou && time == timeJogando">
    <input id="entradaPalavra" type="text" [(ngModel)]="inputPalavra">
    <select [(ngModel)]="numeroPalavras" id="numeroPalavras">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
    </select>
    <input type="button" value="Enviar" (click)="enviaPalavra()">
</div>

<textarea id="historico" readonly [(ngModel)]="historico"></textarea>