#palavras{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 500px;
    width: 600px;
    margin: 20px 0;
}
.palavra{
    cursor:pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* width: 18%;
    height: 17%; */
    width: 140px;
    height: 86px;
    background: #ddd;
    font-family: sans-serif;
    transition: 1s;
    box-sizing: border-box;
    border-radius: 10px;
}
.palavra.vermelha{
    background: red;
    color: white;
}
.palavra.azul{
    background: blue;
    color: white;
}
.palavra.preta{
    background: black;
    color: white;
}
.palavra.branca{
    border: solid 1px #ccc;
    background: #fff;
    color: black;
}